@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #ffecec;
}

@tailwind components;

.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.3rem;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  border-radius: 20rem;
  background: #c53007;
  transition: width 0.3s, transform 0.3s;
  /* background: linear-gradient(90deg, #af472a, #f08e81); */
  /* background: linear-gradient(90deg, #ffecec, #f08e81); */
}

.link:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1.2);
}

.active::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1.2);
}

.dropdown-items:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: red;
  border-radius: 0 2px 2px 0;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

@tailwind utilities;

.w-max-content {
  width: max-content;
}
